# Python
__pycache__/
*.py[cod]
*.pyd
*.so

# Env / secrets
.env
.env.*
!.env.example

# Virtualenv
.venv/
venv/
ENV/

# Django
db.sqlite3
*.log
staticfiles/
media/
celerybeat-schedule
celerybeat.pid

# Coverage / tests
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/

# OS
Thumbs.db
Desktop.ini
